<!doctype html>
<html class="no-js fixed-layout">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Amaze UI Admin index Examples</title>
  <meta name="description" content="这是一个 index 页面">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/static/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/static/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/static/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/static/assets/css/admin.css">
</head>
<body>

  {include file="../application/admin/view/common/header.html"/}
  <div class="am-cf admin-main">
    <!-- sidebar start -->
    {include file="../application/admin/view/common/menu.html"/}
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
      <div class="admin-content-body">
        <div class="am-cf am-padding">
          <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>一些常用模块</small></div>
        </div>

        <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
          <li><a href="/admin/goods/add" class="am-text-success"><span class="am-icon-btn am-icon-file-text"></span><br/>商品添加<br/></a></li>
          <li><a href="/admin/order/alist" class="am-text-warning"><span class="am-icon-btn am-icon-briefcase"></span><br/>订单管理<br/></a></li>
          <li><a href="/admin/stock/alist" class="am-text-danger"><span class="am-icon-btn am-icon-recycle"></span><br/>采购管理<br/></a></li>
          <li><a href="/admin/goods/details" class="am-text-secondary"><span class="am-icon-btn am-icon-user-md"></span><br/>详情图编辑<br/></a></li>
        </ul>

      </div>
    </div>
  </div>

  <footer class="admin-content-footer">
    <hr>
    <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
  </footer>
</div>
<!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>


<script src="/static/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/static/assets/js/amazeui.min.js"></script>
<script src="/static/assets/js/app.js"></script>
</body>
</html>
